.bulletinList {
  display: grid;
  row-gap: 0.5em;
  margin: 3% 0% 1%;
}

.bulletinList a {
  text-decoration: none;
}

.bulletin {
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em #646464;
}

.bulletin p {
  color: rgb(94, 93, 93);
}

.bulletinHeader {
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.title {
  padding: 10px;
  text-align: start;
}

.title h2 {
  color: #000;
  text-decoration: none;
}

.username {
  padding: 10px;
  text-align: end;
  font-size: 80%;
}

.message {
  color: #000;
  padding: 10px;
  text-align: start;
}
