.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 25fr;
  text-align: center;
}

.submit {
  display: block;
  background-color: grey;
  grid-column: 1/4;
}

.submit form {
  width: 25%;
  display: grid;
}

.submit form textarea,
.submit form button {
  resize: none;
  grid-column: 1/3;
  font-family: inherit;
  font-size: 90%;
}
